<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="b2c:Tenant" value="gemcontoso.onmicrosoft.com" />
    <add key="b2c:ClientId" value="dfbc0104-b271-44c4-b1d1-b02bcff9a0a1" />
    <add key="b2c:ClientSecret" value="zq9tgSPgSMZtTH50XBCe3Iivh2oYMa8U5aEd4hxXEr4=" />
  </appSettings>
</configuration>